<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Sadhguru Tea Shop Web App{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="description" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    {% block base_styles %}
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    {% block container %}
      <div id="root"></div>
    {% endblock %} 
    {% block base_scripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/build/home.pack.js') }}">
      </script>
    {% endblock %}
  </body>
</html>



